@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-outfit {
    font-family: "Outfit", sans-serif;
  }

  .russo-one {
    font-family: "Russo One", sans-serif;
  }

  .button {
    padding: 10px 26px;
    border-radius: 5px;
    background: linear-gradient(90deg, #a4a766 0%, #ae9034 100%);
    color: #010a12;
    font-size: bold;
    transition: all 0.5s;
  }

  .hover-effect:hover {
    background-color: #9f7b0f;
  }

  /* .active {
    color: #fad76b;
    text-decoration: underline;
  } */

  .nav-bar {
    background-color: #ae9034;
    width: 100%;
    padding: 10px 30px;
    margin-top: 15px;
  }

  .gr-sonali {
    background: linear-gradient(90deg, #9f7b0f 0%, #fad76b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .banner {
    background: radial-gradient(
      60.96% 100% at 50% 100%,
      #0c2235 0%,
      #010a12 65.63%
    );
  }

  .effect-card {
    inset: 0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }
  .project-card:hover .effect-card {
    transform: scale(1);
  }
}
